@page "/myassignedcases"
@attribute [Authorize(Roles = "Client")]

@using LegalCaseManagement.Service
@using LegalCaseManagement.Domain
@using LegalCaseManagement.Data
@using LegalCaseManagement.Data.LegalServices
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject IServiceScopeFactory ServiceScopeFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<style>
    body {
        background-color: #F5F5F5;
    }
</style>

@if (assignedCases == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudTable Items="assignedCases" Hover="true">
        <ToolBarContent>
                    <MudText Typo="Typo.h6">Cases</MudText>
            </ToolBarContent>
        <ColGroup>
            <col style="width: 50px;" />
            <col />
            
            <col style="width: 100px;" />
        </ColGroup>
        <HeaderContent>
            
            <MudTh>Petitioner</MudTh>
            <MudTh>Court Name</MudTh>
            <MudTh>Start Date</MudTh>
            <MudTh>Next Date</MudTh>
            <MudTh>Status</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            
            <MudTd>@context.Petitioner</MudTd>
            <MudTd>@context.Defendant</MudTd>
            <MudTd>@context.StartDate?.ToString("dd MMM yyyy")</MudTd>
            <MudTd>@context.EndDate?.ToString("dd MMM yyyy")</MudTd>
            <MudTd>@context.CaseStatus.StatusName</MudTd>
             <MudTd>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => NavigateToDetails(context.CaseId))">View</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
   
}

@code {
    private List<Case> assignedCases;

    protected override async Task OnInitializedAsync()
    {
        var user = await GetCurrentUserAsync();
        assignedCases = await GetAssignedCasesAsync(user.Id);
    }

    private async Task<ApplicationUser> GetCurrentUserAsync()
{
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;

    if (user.Identity.IsAuthenticated)
    {
        return await UserManager.GetUserAsync(user);
    }

    return null;
}

    private async Task<List<Case>> GetAssignedCasesAsync(string userId)
    {
        using (var scope = ServiceScopeFactory.CreateScope())
        {
            var context = scope.ServiceProvider.GetRequiredService<ApplicationDbContext>();
            return await context.Cases
                .Include(c => c.CaseStatus)
                .Where(c => c.UserId == userId)
                .ToListAsync();
        }
    }

     private void NavigateToDetails(int caseId)
    {
        NavigationManager.NavigateTo($"/casedetails/{caseId}");
    }
}